body{
    margin: 0;
    padding: 0;
    background-color: rgb(24, 24, 24);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50vh;
}


a{
    color: rgb(230, 230, 230);
    font-size: 100px;
    font-weight: 500;
}
